{% extends 'base.html' %}


{% block content %}

{% block jquery %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"> 

var endpoint = '/api/data';

$.ajax({
    method:'GET',
    url:endpoint,
    success : function(data){
        console.log(data)
        console.log("hahhahahahahha")
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
        console.log("hihihihihihi")

    }
})

</script>

{% endblock %}

<div>
    <canvas id="myChart"></canvas>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    const ctx = document.getElementById('myChart');
  
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: ['positive','neutral','positive'],
        datasets: [{
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>


{% endblock content %}